<% include header.html %>
  <!--===============================
=            Hero Area            =
================================-->

  <section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->

    <!-- Container End -->
  </section>

  <% include footer.html %>